# This is the workspace folder for eclipse

/.metadata

# This is the dictionary for eclipse and completly
# useless on github

eclipsedictionary

# This is the Texture working directory and is ignored
# to keep pictures off of github

/TexturesPack